@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  /* PhonePe Screenshot Color Palette */
  --color-brand-purple: #5f259f;
  --color-text-main: #332b50;
  
  /* Pastel Icon Backgrounds */
  --color-pastel-pink: #ffe6eb;
  --color-pastel-purple: #e0d9ff;
  --color-pastel-teal: #c8f3ef;
  --color-pastel-orange: #ffe9cc;
  --color-pastel-gray: #f5f7f9;

  /* Font mapping */
  --font-sans: var(--font-jakarta), sans-serif;
}

body {
  @apply bg-white dark:bg-zinc-950 text-text-main dark:text-zinc-50 transition-colors duration-300;
}